/* Classes */

.amador-regular-normal-white-130px {
    color: white;
    font-family:  amador, sans-serif;
    font-size: 130px;
    font-weight: 400;
    font-style: normal;
}

.neuehaasgroteskdisplaypro-65-medium-24px {
   font-family: neue-haas-grotesk-text, sans-serif;
   font-size: 24px;
   font-weight: 500;
   font-style: normal;
}
